h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 1.4em;
    line-height: 2;
    margin-top: 4em;
}
h2 {
    font-size: 1.2em;
    line-height: 2;
    margin-top: 2em;
}
h2 span {
    font-size: 0.8em;
    font-variant: small-caps;
}
h3 {
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: normal;
    margin-top: 2em;
    page-break-before: auto;
}
p, li {
    text-align: justify;
}
a {
    color: #009;
    text-decoration: none;
}
hr {
    border: 0;
    border-top: 1px solid black;
    height: 0;
    margin-left: 0;
    width: 25%;
}
.figure {
    margin: 1em 0;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
}
.figure img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.figure .caption {
    font-style: italic;
    font-size: 0.95em;
    margin: 0.1em 2em;
    text-align: center;
    text-indent: 0;
}
.figure .caption i {
    font-style: normal;
}
